---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  // Add logo to masthead
.site-title::before {
	content: url("jcvi-logo.png");
	display: inline-block;
	position: relative;
	width: 85px;
	top: 5px;
}

.class {
	image-resolution: 300dpi; 
 }